/* for skills make it horizontal view*/

.side-details div {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    max-width: 17   0px;

}

.side-details i {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    display: block;
}

#user {
    font-size: 20px;
    font-weight: bold;
    color: brown;
    display: block;
}
.side-details i:hover {
    color: green;
    font-size: 16px;
}

.resume-picture {
    padding: 20px;
}
