/* custom tag to show for skills*/
tag {
    width: 300px;
    margin: 5px;
    text-align: left; 
    font-weight: bold;
    font-style: italic;
    color: #800080;
}

#inner {
    overflow: hidden;
    width: 800px;
}

.child {
    width: 300px;
    margin: 5px;
    padding: 10px;
    text-align: left; 
}/* for skills make it horizontal view*/


li:hover {
    font-weight: bold;
}