.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-self: center;
}

.center-col {
  flex: 1;
  overflow-y: scroll;

}

.right-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  a {padding-top: 15px;}
  a {font-size: 18px;}
}

a {
  color: brown;
  font-style: italic;
}


/* Style page content */
.main {
  padding: 0px 10px;
  width: 30x;
}
